#map { height: 550px;
width: 800px;
border-radius: 15px;
 }

.mapContainer {
    adisplay: flex;
    jaustify-content: center;
    apadding-bottom: 200px;
}

nav {
z-index: 3000;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}


#map {
    background-color: transparent;
}



 #cityList {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    width:500px;
    margin-top: 70px;

}

#cityList li {
    text-align: center;
    display: inline;
    padding: 1em;
    border: 1px solid grey;

}


#cityList li:hover {
    color : white !important;
    background-color: #608ca4 !important;
}

.mapEtVilles {
    display: flex;
    justify-content: center;
}




@media screen and (max-width : 1300px) {
    .mapEtVilles {
        flex-direction: column-reverse;
        
    }

    #map {
        margin: auto;
    }

    #cityList {
        margin: auto;
    }
}

@media screen and (max-width : 800px) {
    #cityList {
        display: none;
    }

    #map {
        width: 100%;
    }
    
}

.Geloux {
    color: red;
}