* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.texteEtMap {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.sectionContact h3 {
    margin-bottom: 40px;
}

.adresse {
    align-self: center;
    padding-right: 4em;
}

.mapGoogle iframe {
    max-width: 600px;
    max-height: 300px;
    margin: 0 auto;
}

@media screen and (max-width : 1000px ) {
    .texteEtMap {
        flex-direction: column;
    }

    .mapGoogle iframe {
        width: 90%;
        margin-top: 20px;
    }

    .mapGoogle {
        display: flex;
        justify-content: center;
    }
}

/* CSS POUR FORMULAIRE */

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

form div input {
    width: 400px;
    padding: 1em;
}
form div select {
    min-width: 430px;
    padding: 1em;
}

button:hover {
    background-color: gray;
}

.titreSection {
    margin-bottom: 50px;
}

.field {
    margin-bottom: 25px;
    min-width: 430px;
}

textarea {
    resize: none;
}

.sendBtn {
    text-align: center;
    align-self: center;
    min-width: 100px;
    min-height: 50px;
    padding: 1rem 2.1rem;
    border: solid 1px rgba(197, 197, 197, .5);
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin: auto;
    transition: 0.5s all;
}

.sendBtn:hover {
    color: white;
    background-color: #1e7495;
}

/* FIN FORMULAIRE */

/* PARTIE VISITE */
.visite {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width : 1000px) {
    .visite {
        flex-direction: column;
    }

    .visite h5 {
        margin-block: 1em 0.2em;
    }
}

.visite h5, .adresse h4 {
    color: #da196c;
    font-size: 2em;
    font-weight: bold;
    
}

.titreVisite, .titreNumero {
    color : #8e8f91;
    font-size : 2em;
    margin-bottom: 0.7em;

}

.visite a {
    color: blue;
    text-decoration: underline;
}

.sectionContact {
    max-width: 80%;
    margin: auto;
}

/* FIN PARTIE VISITE */

table tr, table td, table th {
    border : 1px solid black
}

table td, table th {
    padding: 0.3em 1em;
}

.tableNumero {
    display: flex;
    justify-content: center;
}