@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}*/

.gridContainer {
    amargin-top: 50px;
    display: grid;
    place-items: center;
    ;
}

.pagePrincipaleNews {
    background-color:rgb(240, 240, 240)
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

.cardHeading img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.newsCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    background: white;
}

.cardType {
    align-self: flex-start;
    font-size: .75rem;
    background: #608ca4;
    color : white;
    padding: 0.5em 1em;
}

.cardBody {
    flex-direction: column;
    gap: .5rem;
    padding: 1.2rem;
    display: flex;
}

.cardBody h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.cardBody p,h4,span {
    font-family: "Sora", sans-serif;
}


.titreSection > *, .titreSection {
    padding-top: 1em;
    background-color: rgb(240, 240, 240) !important;
}



.searchBar {
    margin: 40px 0;
    text-align: center;
}

#searchBtn, label[for="searchQuery"], input[id="searchQueryI"] {
    font-size: 25px;
}

#searchQueryI {
    margin-right: 10px;
}